@import "tailwindcss";

@custom-variant dark (&:is(.dark *));

@theme inline {
  --font-sans: var(--font-poppins), sans-serif;
  --font-caption: var(--font-questrial), sans-serif;
}

@theme {
  --color-background: hsl(var(--background));
  --color-foreground: hsl(var(--foreground));

  --color-card: hsl(var(--card));
  --color-card-foreground: hsl(var(--card-foreground));

  --color-popover: hsl(var(--popover));
  --color-popover-foreground: hsl(var(--popover-foreground));

  --color-primary: hsl(var(--primary));
  --color-primary-foreground: hsl(var(--primary-foreground));

  --color-secondary: hsl(var(--secondary));
  --color-secondary-foreground: hsl(var(--secondary-foreground));

  --color-muted: hsl(var(--muted));
  --color-muted-foreground: hsl(var(--muted-foreground));

  --color-accent: hsl(var(--accent));
  --color-accent-foreground: hsl(var(--accent-foreground));

  --color-destructive: hsl(var(--destructive));
  --color-destructive-foreground: hsl(var(--destructive-foreground));

  --color-border: hsl(var(--border));
  --color-input: hsl(var(--input));
  --color-ring: hsl(var(--ring));

  --color-chart-1: hsl(var(--chart-1));
  --color-chart-2: hsl(var(--chart-2));
  --color-chart-3: hsl(var(--chart-3));
  --color-chart-4: hsl(var(--chart-4));
  --color-chart-5: hsl(var(--chart-5));

  --radius-lg: var(--radius);
  --radius-md: calc(var(--radius) - 2px);
  --radius-sm: calc(var(--radius) - 4px);

  --text-sm: 0.75rem;
  --text-base: 1rem;
  --text-xl: 1.333rem;
  --text-2xl: 1.777rem;
  --text-3xl: 2.369rem;
  --text-4xl: 3.158rem;
  --text-5xl: 4.21rem;
}

/*
  The default border color has changed to `currentcolor` in Tailwind CSS v4,
  so we've added these compatibility styles to make sure everything still
  looks the same as it did with Tailwind CSS v3.

  If we ever want to remove these styles, we need to add an explicit border
  color utility to any element that depends on these defaults.
*/
@layer base {
  *,
  ::after,
  ::before,
  ::backdrop,
  ::file-selector-button {
    border-color: var(--color-gray-200, currentcolor);
  }
}

@utility text-balance {
  text-wrap: balance;
}

@layer utilities {
  :root {
    font-size: 16px;
  }
}

@layer base {
  :root {
    --background: 0 0% 90%;
    --foreground: 0 0% 7%;
    --card: 0 0% 90%;
    --card-foreground: 0 0% 7%;
    --popover: 0 0% 90%;
    --popover-foreground: 0 0% 7%;
    --primary: 32 100% 35%;
    --primary-foreground: 0 0% 90%;
    --secondary: 27 59% 66%;
    --secondary-foreground: 0 0% 7%;
    --muted: 0 0% 20%;
    --muted-foreground: 0 0% 70%;
    --accent: 22 73% 51%;
    --accent-foreground: 0 0% 7%;
    --destructive: 0 85% 60%;
    --destructive-foreground: 0 0% 7%;
    --border: 0 0% 20%;
    --input: 0 0% 20%;
    --ring: 22 73% 40%;
    --radius: 0.5rem;
  }

  .dark {
    --background: 0 0% 10%;
    --foreground: 0 0% 93%;
    --card: 0 0% 10%;
    --card-foreground: 0 0% 93%;
    --popover: 0 0% 10%;
    --popover-foreground: 0 0% 93%;
    --primary: 32 100% 65%;
    --primary-foreground: 0 0% 10%;
    --secondary: 27 59% 34%;
    --secondary-foreground: 0 0% 93%;
    --muted: 0 0% 80%;
    --muted-foreground: 0 0% 93%;
    --accent: 22 73% 49%;
    --accent-foreground: 0 0% 10%;
    --destructive: 0 62% 30%;
    --destructive-foreground: 0 0% 10%;
    --border: 0 0% 60%;
    --input: 0 0% 80%;
    --ring: 22 73% 60%;
  }
}

@layer base {
  * {
    @apply border-border;
  }

  html {
    scroll-behavior: smooth;
  }

  body {
    @apply bg-background text-foreground;
  }

  /* Perfect Fourth : 1.333 */
  h1 {
    @apply font-caption text-4xl;
  }

  h2 {
    @apply font-caption text-3xl;
  }

  h3 {
    @apply font-caption text-2xl;
  }

  h4 {
    @apply font-caption text-xl;
  }

  h5 {
    @apply font-caption text-lg;
  }

  .mdx-container {
    ul {
      @apply list-inside list-disc;
    }
  }
}
